@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 style="color: red;">Oh no</h1>
<h2 style="color: red;">We have detected sin on your pc</h2>

<p>
    Please see your local priest! or face the wrath of buff jesus
</p>

<img src="/images/BuffJesus.webp"/>

