@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oh no</h1>
<h2 class="text-danger">We have detected sin on your pc</h2>

<p>
    Please see your local preiest! or face the wrath of buff jesus
</p>

<img src="/images/BuffJesus.webp"/>

