@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p style="color: white; font-size: 50px;">God is one step away CLICK THE LINK!!! <a href="https://templeos.org/">The temple?</a>.</p>

    <video autoplay loop>
        <source src="/video/Y2Mate.is - Terry A Davis Dancing-wbkQVZPm9y8-360p-1655521070783.mp4" type="audio/mp3" />
    </video>
</div>
